<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Guide</title>
		<style type="text/css" media="screen">
			@import url("css/template.css");
		</style>
		<script type="text/javascript">
			function Display(){
				document.getElementById("demo").innerHTML=Date();
			}
		</script>
	</head>

	<body>
		<header>
			<h1 align="center" style="background-blend-mode:multiply;background-color:white">Guide</h1>
		</header>
		<main align="center">
			<img src="pic/map.png">
			<div>
				<form>
					<div>SetoffLoacation:</div><input type="text" name="setoff"><br>
					<div>Destination:</div><input type="text" name="dest"><br>
					<button id="submit">提交</button>
				</form>
				<a href="/index.html"><button>返回</button></a>
			</div>

		</main>
		<footer align="center">
			<a href="https://www.vultr.com/?ref=7176931"><img src="https://www.vultr.com/media/banner_1.png" width="728" height="90"></a>
		</footer>
	</body>
</html>
