<!doctype html>
<!--/*
#	mpsk
#	Beijing University of Technology
#	Copyright 2017
*/
-->
<html>
    <head>
        	<meta charset="UTF-8">
            <title>帮助</title>
    </head>
    <body>
        <a href="/index">返回>></a>
        <h1 align="center">1. 如何使用</h1>
        <p align="center">
            在有红色标记的坐标点单击右键。<br>
            <img src="{{ url_for('static', filename='show_case_index.png')}}" height="30%" width="30%"/><br>
            会出现一个选项卡。<br>
            <img src="{{ url_for('static', filename='show_case_option.png')}}"/><br>
            紧接设置好需要设定的路径点数据并点击添加。<br>
            如果需要删除的话，不用管参数，只需要单击删除即可<br>
            <br>
            已经添加的点会在边栏显示。<br>
            <img src="{{ url_for('static', filename='show_case_sidebar.png')}}"/><br>
        </p>
        <h1 align="center">2. 关于我</h1>
        <p align="center">
            <a href="https://github.com/mpskex">mpskex@github</a><br>
            请多多指教
        </p>
    </body>
</html>