<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Paper Download</title>
</head>
<body>
	<a href="{{ url_for('static', filename='A Robust 3D Video Watermarking Scheme Based on Multi-Modal Visual Redundancy.pdf')}}">
		1.  A Robust 3D Video Watermarking Scheme Based on Multi-Modal Visual Redundancy
	</a><br>
	<a href="{{ url_for('static', filename='Efficient Traffic Sign Recognition with Scale-aware CNN.pdf')}}">
		2. Efficient Traffic Sign Recognition with Scale-aware CNN
	</a>
</body>
</html>
