<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>地图导航</title>
	<style type="text/css" media="screen">
		@import url("{{ url_for('static', filename='style.css')}}");
	</style>
	<script type="application/javascript">
		document.write("<script type='text/javascript' src='" + "{{ url_for('static', filename='guide.js')}}" + "?" + Math.floor(Math.random()*1000000) + "'><" + "/script>"); 
	</script>
</head>
<body>
	<div>
		<div class="content">
			<div class="loginbar" align="right">
			</div>
			<div class="map_mask" onclick="GetMousePos();">

			</div>
			<div class="map_holder" id="div_map">
				<img src="{{url_for('static', filename='map.png')}}">
				<svg id="node" class="node_holder" xmlns="http://www.w3.org/2000/svg" version="1.1" onclick="GetMousePos();" width=907 height=622>
					<defs>
						<filter id="Gaussian_Blur">
						<feGaussianBlur in="SourceGraphic" stdDeviation="0.7" />
						</filter>
					</defs>
					<path d="M491 99
					L491 115 432 119 433 135 
					L377 139 377 163 406 163"
					style="fill:transparent;stroke:blue;stroke-width:4;filter:url(#Gaussian_Blur)"/>
				</svg>
			</div>
		</div>
		<div class="sidebar_bgc">
		</div>
		<div class="sidebar">
			<div class="sidebar_element">
				已经添加的点
			</div>
			<div class="sidebar_element">
				a
			</div>
			<div class="sidebar_element">
				a
			</div>
		</div>
	</div>
</body>
</html>
