<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ vid_title }}</title>
<style type="text/css" media="screen">
@import url("{{ url_for('static', filename='style.css')}}");
</style>
	</head>
	<body>
		<header class="header">
		</header>
		<div class="main">
		  <video controls>
			<source src="{{ vid_src }}" type="video/mp4" />
		  </video>
			<div align="center"><a href="index"><button id="back">返回</button></a></div>
		</div>
		<footer align="center">
			<a href="https://www.vultr.com/?ref=7176931"><img src="https://www.vultr.com/media/banner_1.png" width="728" height="90"></a>
		</footer>
		<footer class="Announce"><div align="center">本资源仅供试看，不提供下载服务。请购买正版</div></footer>
	</body>
</html>
